<div>
	<h2 class="mb-4">List name ({{ items|length }})
		<i class="fas fa-edit"></i>
	</h2>
	{% for item in items %}
		<div class="list">
			<div class="d-flex mb-3">
				<input type="checkbox" class="me-3"/>
				<span class="details me-3 ">{{ item.title }}</span>
				<a href="#" class="me-3">
					<i class="fas fa-plus text-success"></i>
				</a>
				<a href="#">
					<i class="fas fa-times text-danger"></i>
				</a>
			</div>
			{% for subItem in item.subItems %}
				<div class="sublist">
					<div class="d-flex mb-3">
						<input type="checkbox" class="me-3"/>
						<span class="details me-3">{{ subItem }}</span>
						<a href="#">
							<i class="fas fa-times text-danger"></i>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
	<button type="button" class="btn btn-success">
		<i class="fas fa-plus"></i>
		Add a new item</button>
</div>
