@import "bootstrap";
@import "@fontsource/roboto-condensed";
@import "@fortawesome/fontawesome-free/css/all.css";

body {
  background-color: #17242c;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
}

.list i {
  margin-top: 7px;
}

.list a {
  color: #fff;
}

.details {
  background-color: #222f36;
  border-radius: 5px;
  padding: 5px;
}

.sublist {
  margin-left: 30px;
}
