### symfony/framework-bundle ###
/vendor/
/var/
/.env.*
/public/bundles/
### symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
